@charset "UTF-8";

header {
	background: linear-gradient(rgba(0,47,87,1.65), rgba(0,47,87,0.65)),url(/imagenes/fondo.png);
	padding-top: 20px;
}

.container-fluid {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	padding-bottom: 20px;
}

.logo img {
	max-width: 120px;
}

nav {
	display: flex;
	gap: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	text-decoration: underline;
}

.listaPrincipal {
	display: flex;
	justify-content: space-evenly;
}

.listaItem {
	list-style: none;
	padding: 15px;
	position: relative;
	cursor: pointer;
}

.listaItemLink {
	font-size: large;
	text-decoration: none;
	color: white;
}

.listaItem ul {
	display: none;
	position: absolute;
	background-color: black;
	border-radius: 10px;
	box-shadow: 5px 5px #89beff;
}

.listaItem:hover ul {
	display: block;
}

.listaItem:hover ul li {
	list-style-type: none;
	padding: 10px;
	display: flex;
	width: 200px;
}

main {
	color: black;
}

h1 {
	font-weight: bold;
}

.nroIngresantes {
	font-size: large;
}