body{
	background-color: white;
}

header {
	background: linear-gradient(rgba(0,47,87,0.75), rgba(0,47,87,0.35)),url(/imagenes/fondo10.jpg.png);
	padding-top: 15px;
	background-size:100% 100%;
	}

.container-fluid {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	padding-bottom: 10px;
	padding-left:30px;
}

.logo img {
	max-width: 120px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration:none;
}

.listaPrincipal {
    display: flex;
    justify-content: space-evenly;
}

.listaItem {
    list-style: none;
    padding: 15px;
    position: relative;
    cursor: pointer;
}

.listaItemLink {
    font-size: large;
    text-decoration: none;
    color: white;
}

.listaItem ul {
    display: none;
    position: absolute;
    background: linear-gradient(rgba(0,47,87,0.75), rgba(0,47,87,0.35));
    border-radius: 10px;
    box-shadow: 5px 5px #0000a0;
    
}

.listaItem:hover ul {
    display: block;
}

.listaItem:hover ul li {
    list-style-type: none;
    padding: 10px;
    display: flex;
    width: 200px;
}