#encabezado{
	background-color: #29248C;
	border-radius: 10px;
}
h1{
	  padding: 20px;
}

option{
	background-color: #29248C;
	border-radius: 10px;
	color:white;
}

select{
	background-color: #29248C;
	border: 2px solid black;
}
script{
	background-color: #29248C;
}
div{
	padding-left:30px; 
}