#encabezado{
    background-color: #29248C;
}
.guardar img{
	width:25%;
	 border-radius: 10px;
}
.usuario{
	border-radius: 15px;
}
#coment{
	background-color:#e8e9e8;
	color:#5e62b0;
	border-radius: 10px;
	}
#opinion{
	color:#ffffff;
	background-color: #5475bb;
	text-decoration: none;
	border-radius: 5px;
	}
.list-group{
	display:inline-block;
	margin:3%;

}
.p-3{
	text-decoration: none;
}
#fondodepalabra{
	background-color:black;
	margin:0px;
	padding:0;
	width:70%;
}
#carousel-ads-1{
	width:100%;
}