body{
	background-color: #89beff;
	color: black;
}
.logo-loginReg{
	padding-top: 12px;
}

.logo{
	display: inline-block;
	padding-top: 0px;
}
.logo img{
	display: inline-block;
	width: 200px;
	height: 100px;
	padding-top: 0px;
    

}

.loginReg{
	display: inline-block;
	position: absolute;
	top:0;
	right:0;
	padding:20px 20px 0px 0px;
}

.login{
	display: inline-block;
	padding-left: 1080px;
}

.reg{
	display: inline-block;
	padding-left: 20px;
}
.menu{
	background: #e761ff;
}
.listaNav{
	display: flex;
	padding-top: 12px;
	padding-right: 30px;
	justify-content: space-evenly;
	list-style-type: none;
    margin: 0;
}
.listaItem{
	list-style: none;
	padding: 15px;
    position: relative;
    cursor: pointer;
}

.listaItemLink{
	font-size: large;
	text-decoration: none;
	color: white;
}
.listaItem ul{
	display: none;
    position: absolute;
    background-color: #444;
    border-radius: 0 0 5px 5px;
}
.listaItem:hover ul {
    display: block;
}
.listaItem:hover ul li{
	list-style-type: none;
    padding:10px;
    display: flex;
    padding: 10px;
    width:400px;
}